<div class='posts'>
  <%= render :partial => 'post', :locals => {:post => @post} %>
</div>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <div class='comment'>
    <p><%= comment.title %> - Commented <%= distance_of_time_in_words_to_now(comment.created_at) %> ago</p>
    <p><%= comment.body %></p>
  </div>
  <hr/>
<% end %>

<h3>Add a comment!</h3>
<% form_for :comment, :url => post_comments_path(@post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :author %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>

  <%= f.hidden_field :post_id, :value => @post.id %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
